a.box-score-url {
    color: white;
}

img.team-logo{
    height:75%;
}

.game-card {
    background-color: transparent;
    /*background-color: #FFFFFF;*/
    width: 215px;
    height: 75px;
    text-align: left;
    border: 1px solid black;
    /*perspective: 2000px; !* Remove this if you don't want the 3D effect *!*/
    padding: 10px;
    border-radius: 15px;
}

.game-card-row{
    margin-bottom: -25px;
}

.game-card-column{
    margin-right: -50px;
    text-align: left;
}

.game-card:hover  {
    background-color: lightgray ;

}

