<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Influencers | StuffHub</title>
    {% load static %}
    {% include "stuff/navbar.html" with active_tab='influencers' %}
    <link rel="stylesheet" type="text/css" href="{% static 'stuff/css/influencers.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'stuff/js/scripts.js' %}"></script>
</head>

<body>
<div class="container w-75">
    {#        <div class="container-fluid">#}
    <div class="row h-100 align-items-left">
        <h2>Entertainment</h2>
    </div>
    <div class="row h-100 justify-content-left align-items-left">
        {% for influencer in entertainment %}
            {% include "stuff/influencer.html" %}
        {% endfor %}
    </div>
    <div class="row h-100 align-items-left">
        <h2>Food</h2>
    </div>
    <div class="row h-100 justify-content-left align-items-left">
        {% for influencer in food %}
            {% include "stuff/influencer.html" %}
        {% endfor %}
    </div>
    <div class="row h-100 align-items-left">
        <h2>Sports & Fitness</h2>
    </div>
    <div class="row h-100 justify-content-left align-items-left">
        {% for influencer in sports_fitness %}
            {% include "stuff/influencer.html" %}
        {% endfor %}
    </div>
    {#        </div>#}
</div>

</body>
</html>