<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Log In | StuffHub</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stuff/css/login.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'stuff/js/scripts.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-header">
                        <h1 class="card-title text-center">StuffHub</h1>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Log In</h5>
                        <form class="form-signin" action="{% url 'stuff:login' %}" method="POST">
                            {% comment %} <form action="{% url 'stuff:add_twitter_user' sport %}" method="POST" {% endcomment %}
                            {% csrf_token %}
                            {% comment %} {{ form.as_p }} {% endcomment %}
                            <div class="form-label-group">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required autofocus>
                                <label for="email">Email address</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="password" name="password"  class="form-control" placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="login">Log in</button>
                            <hr class="my-4">
                        </form>
                        <a class="btn btn-md btn-outline-primary btn-block text-uppercase" id="Register"
                           href="/stuff/register">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>