<!DOCTYPE html>
<html lang="en">
{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{% static 'stats/css/navbar.css' %}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{#<h1>CTRL-R Sports</h1>#}
<div class="topnav">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            {#    <a class="navbar-brand" href="#">Navbar</a>#}
            {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"#}
            {#            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">#}
            {#        <span class="navbar-toggler-icon"></span>#}
            {#    </button>#}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item {% if active_tab == 'index' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'stats:index' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown {% if active_tab == 'nba' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            NBA
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'stats:nba' %}">Teams</a>
                            <a class="dropdown-item" href="{% url 'stats:nba_tweets' %}">Tweets</a>
                            {#                        <div class="dropdown-divider"></div>#}
                            {#                        <a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if active_tab == 'mlb' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="{% url 'stats:mlb' %}" id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MLB
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'stats:mlb' %}">Teams</a>
                            <a class="dropdown-item" href="{% url 'stats:mlb_tweets' %}">Tweets</a>
                            {#                        <div class="dropdown-divider"></div>#}
                            {#                        <a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                    {#                <li class="nav-item {% if active_tab == 'tweets' %}active{% endif %}">#}
                    {#                    <a class="nav-link" href="{% url 'stats:nba_tweets' %}">Tweets</a>#}
                    {#                </li>#}


                    {#      <li class="nav-item">#}
                    {#        <a class="nav-link disabled" href="#">Disabled</a>#}
                    {#      </li>#}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 bg-light" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>
<div class="godown" id="godown"></div>
</html>