<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Influencers | Faves</title>
    {% load static %}
    {% include "faves/navbar.html" with active_tab='influencers' %}
    <link rel="stylesheet" type="text/css" href="{% static 'faves/css/influencers.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'faves/js/scripts.js' %}"></script>
</head>

<body>
<section>
    <div class="container">
        <div class="row">
            <h2>Entertainment</h2>
        </div>
        <div class="row">
            {% for influencer in entertainment %}
                {% include "faves/influencer_card.html" %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Entertainment</h2>
        </div>
        <div class="row">
            {% for influencer in entertainment %}
                {% include "faves/influencer_card.html" %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Food</h2>
        </div>
        <div class="row">
            {% for influencer in food %}
                {% include "faves/influencer_card.html" %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Sports & Fitness</h2>
        </div>
        <div class="row">
            {% for influencer in sports_fitness %}
                {% include "faves/influencer_card.html" %}
            {% endfor %}
        </div>
    </div>
</section>

</div>

</body>
</html>