<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'faves/css/navbar.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2db55a7b3c.js"></script>
</head>

<body>
    <div class="topnav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">StuffHub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item {% if active_tab == 'index' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'faves:index' %}">
                                <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item {% if active_tab == 'influencers' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'faves:influencers' %}">
                                <i class="fas fa-user-check"></i> Influencers
                            </a>
                        </li>
                        <li class="nav-item dropdown {% if active_tab == 'nba' %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-basketball-ball"></i> NBA
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'faves:nba' %}">
                                    <i class="fas fa-users"></i> Teams
                                </a>
                                <a class="dropdown-item" href="{% url 'faves:nba_tweets' %}">
                                    <i class="fab fa-twitter"></i> Tweets
                                </a>
                                {#                        <div class="dropdown-divider"></div>#}
                                {#                        <a class="dropdown-item" href="#">Something else here</a>#}
                            </div>
                        </li>
                        <li class="nav-item dropdown {% if active_tab == 'mlb' %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="{% url 'faves:mlb' %}" id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-baseball-ball"></i> MLB
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'faves:mlb' %}">
                                    <i class="fas fa-users"></i> Teams
                                </a>
                                <a class="dropdown-item" href="{% url 'faves:mlb_tweets' %}">
                                    <i class="fab fa-twitter"></i> Tweets
                                </a>
                                {#                        <div class="dropdown-divider"></div>#}
                                {#                        <a class="dropdown-item" href="#">Something else here</a>#}
                            </div>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0 bg-light" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                        <form class="form-inline my-2 my-lg-0" action="{% url 'faves:logout' %}">
                            <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
                        </form>
                    {% else %}
                        <div><a class="btn btn-light my-2 my-sm-0" id="Register" href="/faves/register">Register</a>
                        </div>

                        <div><a class="btn btn-success my-2 my-sm-0" id="Login" href="/faves/login">Login</a></div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <div class="godown" id="godown"></div>
</body>
</html>