<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> NBA | Faves</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'faves/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'faves/css/nba.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'faves/css/flip_cards.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'faves/js/scripts.js' %}"></script>
</head>

<body>
{% include "faves/navbar.html" with active_tab='nba' %}
    <div class="container w-75">
        <div class="container-fluid">
            <div class="row h-100 justify-content-center align-items-center">
                {% for nba_team in nba_teams %}
                     <div class="d-flex flex-column">
                        <div class="flip-card" data-content={{ nba_team.abbreviation }}>
                            {#                    <div class="card-image">#}
                            {#                                                <img src="{% static "images/hawks.jpg" %}">#}
                            {#                    </div>#}
                            <div class="flip-card-inner" data-content={{ nba_team.abbreviation }}>
                                <div class="flip-card-front">
                                    <img id="team-logo-{{ nba_team.abbreviation|lower }}"
                                         class="team-logo"
                                         src="{% static 'images/nba/' %}{{ nba_team.abbreviation|lower }}.jpg"
                                         data-src="{{ nba_team.abbreviation|lower }}">
                                    {#                            <canvas id="myCanvas-{{ nba_team.nickname|lower }}"#}
                                    {#                                    data-src="{{ nba_team.nickname|lower }}"#}
                                    {#                                    style="width:300px;height:300px;"></canvas>#}
                                    {#                            <script type="text/javascript" src="{% static 'faves/js/logos.js ' %}"></script>#}
                                    {#                            <script type="text/javascript"> var static_url = "{% static 'images/'%}{{ nba_team.nickname|lower}}.jpg %}"; setTeamLogo("{{ nba_team.nickname|lower}}","{% static 'images/{{ nba_team.nickname|lower}}.jpg' %}" );#}
                                    {#                             </script>#}

                                </div>
                                <div class="flip-card-back">
                                    <a href="https://www.nba.com/{{ nba_team.nickname|lower }}"
                                       target="_blank">
                                        <h3 class="card-title" data-content={{ nba_team.abbreviation }}>
                                            {{ nba_team.full_name }}
                                        </h3>
                                        <p class="card-title" data-content={{ nba_team.abbreviation }}>
                                            ({{ nba_team.abbreviation }})
                                        </p>
                                    </a>
                                    {#                            <p class="card-text" data-content={{ nba_team.abbsreviation }}></p>#}
                                    {% for game in nba_team.games %}
                                        <a class="box-score-url" id="box-score-url-{{ nba_team.abbreviation }}-{{ game.game_id }}" href="#"
                                           target="_blank">
                                            <p class="card-text">{{ game.date }} {{ game.away_team_name }}
                                                @ {{ game.home_team_name }}</p>
                                        </a>
                                        <script type="text/javascript" src="{% static 'faves/js/logos.js ' %}"></script>
                                        <script type="text/javascript"> getBoxScoreURL("{{ game.game_id }}", "{{ game.date }}", "{{ game.home_team_name }}", "box-score-url-{{ nba_team.abbreviation }}-{{ game.game_id }}"); </script>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>