/*.container{*/
    /*background-color: white;*/
/*}*/

/*.col-md-10{*/

    /*background-color: white;*/
/*}*/

/*.col-sm-2{*/

    /*background-color: white;*/
/*}*/
/*.text-right{*/

    /*background-color: white;*/
/*}*/
.main{
    margin-top: 10px;
}

.users{
    padding: 10px;
    background-color:white;

    /*display: flex;*/
    /*justify-content: space-between;*/
    /*max-width:inherit;*/
}

.users-row-test{
    margin-left: 15px;

    /*background-color:red;*/
}

.user{
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    padding: 1px;
    background-color:#fafafa;
    border-radius: 5px;

    border: 1px solid gray;
}
.user:hover{

    border: 1px solid dodgerblue;
    background-color:whitesmoke;
}



.retweet-icon{
    width:15px;
    height:15px;
    background: transparent;
}

.tweet{
    padding: 5px;
    /*margin-left: -5px;*/
    background-color: white;
    border: 1px solid whitesmoke;
}

.tweet:hover{
    background-color: #fafafa;
}

.tweet-photo{
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
}
.tweet-video{
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
}

.retweet-header{
    /*color: darkgray;*/
    padding-left: 50px;
}
.retweet-header-font{
    color: darkgray;
    /*padding-left: 50px;*/
}

.user-name{
    color: black;
    font-weight:bold;
}

.user-screen-name{
    color: darkgray;
}
